__pycache__/
tb_logs/*
data/*
wandb/*
lightning_logs/*
mobilenetv3-large-cifar10_mobilenetv3-large-cifar10/*
mobilenetv3-small-cifar10_mobilenetv3-small-cifar10/*
mobilenetv3-small-mnist_mobilenetv3-small-mnist/*
